<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Pawpop Match</h1>
        <picture>
            <source srcset="
                      /img/home/logo-desk.png 1x,
                      /img/home/logo-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/home/logo-mob.png 1x,
                      /img/home/logo-mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img class="home-logo" src="/img/home/logo-mob.png" alt="Pawpop Match" loading="lazy" />
        </picture>
        <a class="home-link"
            href="https://play.google.com/store/apps/details?id=com.redhedgies.pawpopmatch.android.google.global.normal&hl=en&gl=us">
            <img src="/img/home/play.png" alt="google play" loading="lazy">
        </a>
    </div>
</section>