.footer {
background: #fe7b1b;
}
.footer-container{
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}
.footer-navigation{
  display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    font-family: "Baloo 2", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.5;
      color: #fdebbd;
}
.footer-text{
font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #fdebbd;
}
@media only screen and (min-width: 1440px) {
.footer-container{
  align-items: center;
  gap: 50px;
}
.footer-navigation{
  width: 100%;
  flex-direction: row;
justify-content: space-between;
}
}