.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  width: 100%;
  height: 80px;
  background: none;
}

.header-container {
  padding: 40px 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: radial-gradient(50% 50% at 50% 50%, #7c6194 0%, #37243a 100%);
  padding: 180px 100px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: start;
}


.menu-item {
font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fdebbd;
  transition: font-weight 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
  font-weight: 600;
}


@media screen and (min-width: 1440px) {

  .header-container {
    padding: 20px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: space-between;
    gap: 83px;
  }

  .navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fdebbd;
    transition: font-weight 0.3s ease-in-out;
  }

  .navigation-item:hover {
font-weight: 600;
  }

  .navigation-item:focus,
  .navigation-item.active {
font-weight: 600;
  }

}