.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.home-section {
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-logo{
    margin-top: 90px;
}
.home-link{
    margin-top: 340px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 243px;
    height: 70px;
}
.home-container{
    padding-bottom: 38px;
}
@media only screen and (min-width: 1440px) {
.home-section {
    background-image: url("/img/home/desk.png");
    height: 823px;
}
.home-link{
    margin-top: 48px;
    margin-left: 193px;
}
.home-container{
    padding-bottom: 200px;
}    
}
/* About the Game */
.about-container{
    padding-bottom: 0;
}
.about-text-wrapper{
    padding:14px 32px;
        width: 335px;
        height: 241px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("/img/about/mob.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
}
@media only screen and (min-width: 1440px) {
.about-text-wrapper{
padding:40px 34px;
    width: 846px;
    height: 170px;
        background-image: url("/img/about/desk.png");
}

}
/* Features */
.fetaures-container{
    padding-top: 160px;
    position: relative;
}
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 91px;
}
.features-list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 300px;
}
.features-one{
    position: absolute;
    top: 47%;
    z-index: 1;
}
.features-two{
    position: absolute;
        top: 28%;
        left: 24%;
 z-index: 2;
}
.features-list{
    display: flex;
        flex-direction: column;
        gap: 12px;
}
.features-item{
    display: flex;
    align-items: start;
    gap: 4px;
    font-family: "Baloo 2", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #fdebbd;
        text-align: left;
}
@media only screen and (min-width: 1440px) {
.fetaures-container{
    padding-top: 150px;
    padding-bottom: 420px;
    position: relative;
}
.features-section{
    background-image: url("/img/features/desk.png");
    background-size: 100% 350px;
}
.features-list-wrapper{
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-top: 300px;
}
.features-one{
    position: absolute;
    top: 62%;
    left: 13%;
    z-index: 1;
}
.features-two{
    position: absolute;
        top: 34%;
        left: 37%;
 z-index: 2;
}  
}
/* Game Feel */
.game-section{
    background: radial-gradient(50% 50% at 50% 50%, #7c6194 0%, #37243a 100%);
}
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 44px;
}
.game-img{
    margin-top: 22px;
}
.game-text{
    margin-top: 18px;
}
.game-link{
    margin-top: 32px;
}
@media only screen and (min-width: 1440px) {
.game-container{
    align-items: start;
    padding: 28px 188px;
    position: relative;
}
.game-img{
    position: absolute;
    top: 5%;
    right: 14%;
    margin-top:0;
}
.game-text{
    margin-top: 22px;
    width: 542px;
    text-align: left;
}
.game-link{
    margin-top: 34px;
    margin-left: 0;
}    
}