.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.home-section {
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-logo{
    margin-top: 90px;
}
.home-link{
    margin-top: 340px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 243px;
    height: 70px;
}
.home-container{
    padding-bottom: 38px;
}
@media only screen and (min-width: 1440px) {
.home-section {
    background-image: url("/img/home/desk.png");
    height: 823px;
}
.home-link{
    margin-top: 48px;
    margin-left: 193px;
}
.home-container{
    padding-bottom: 200px;
}    
}
/* About the Game */
.about-container{
    padding-bottom: 0;
}
.about-text-wrapper{
    padding:14px 32px;
        width: 335px;
        height: 241px;
        margin-left: auto;
        margin-right: auto;
        background-image: url("/img/about/mob.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
}
@media only screen and (min-width: 1440px) {
.about-text-wrapper{
padding:40px 34px;
    width: 846px;
    height: 170px;
        background-image: url("/img/about/desk.png");
}

}
/* Features */
.fetaures-container{
    padding-top: 160px;
    position: relative;
}
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 91px;
}
.features-list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 300px;
}
.features-one{
    position: absolute;
    top: 47%;
    z-index: 1;
}
.features-two{
    position: absolute;
        top: 28%;
        left: 24%;
 z-index: 2;
}
.features-list{
    display: flex;
        flex-direction: column;
        gap: 12px;
}
.features-item{
    display: flex;
    align-items: start;
    gap: 4px;
    font-family: "Baloo 2", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #fdebbd;
        text-align: left;
}
@media only screen and (min-width: 1440px) {
.fetaures-container{
    padding-top: 150px;
    padding-bottom: 420px;
    position: relative;
}
.features-section{
    background-image: url("/img/features/desk.png");
    background-size: 100% 350px;
}
.features-list-wrapper{
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin-top: 300px;
}
.features-one{
    position: absolute;
    top: 62%;
    left: 13%;
    z-index: 1;
}
.features-two{
    position: absolute;
        top: 34%;
        left: 37%;
 z-index: 2;
}  
}
/* Game Feel */
.game-section{
    background: radial-gradient(50% 50% at 50% 50%, #7c6194 0%, #37243a 100%);
}
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 44px;
}
.game-img{
    margin-top: 22px;
}
.game-text{
    margin-top: 18px;
}
.game-link{
    margin-top: 32px;
}
@media only screen and (min-width: 1440px) {
.game-container{
    align-items: start;
    padding: 28px 188px;
    position: relative;
}
.game-img{
    position: absolute;
    top: 5%;
    right: 14%;
    margin-top:0;
}
.game-text{
    margin-top: 22px;
    width: 542px;
    text-align: left;
}
.game-link{
    margin-top: 34px;
    margin-left: 0;
}    
}
/* Characters */
.characters-swiper .swiper-slide{
background-image: url("/img/characters/box-mob.png");
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
        border-radius: 54px;
        padding: 18px;
        width: 335px;
        height: 337px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.slide-characters-title{
font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fe7b1b;
    margin-top: 12px;
    margin-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
.characters-swiper .swiper-wrapper{
    justify-content: center;
    gap: 20px;
}
.characters-swiper .swiper-slide {
    background-image: url("/img/characters/box.png");
width: 413px;
    height: 370px;
}
}
/* Gallery */
@media only screen and (min-width: 1440px) {
 .gallery-swiper .swiper-wrapper{
    justify-content: center;
    gap: 20px;
 }
 .gallery-swiper .swiper-slide{
    border-radius: 20px;
        width: 197px;
        height: 350px;
 }
}
/* Reviews */
.reviews-btn{
    display: none;
}
.reviews-swiper .swiper-slide{
    background-image: url("/img/reviews/card.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 54px;
        padding: 25px 47px;
        width: 305px;
        height: 204px;
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;
}
.author-wrapper{
    display: flex;
    align-items: center;
    gap: 14px;
}
.author{
font-family: "Baloo 2", sans-serif;
    font-weight: 600;
font-size: 20px;
    line-height: 1.5;
    color: #fe7b1b;
}
.reviews-text{
    text-align: left;
}
@media only screen and (min-width: 1440px) {
.reviews-btn{
    display: flex;
    margin-top: 22px;
    justify-content: center;
    gap: 20px;
}
.btn{
    background-color: inherit;
    border: none;
}
}
/* FAQ */
.faq-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 335px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
    width: 335px;
border-top: 1px solid #fe7b1b;
}


.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 100%;
font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #fe7b1b;
padding: 10px 20px;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    border: none;
    background-color: inherit;

}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fdebbd;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    background: none;
font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fdebbd;
    text-align: left;
    padding: 6px 20px;
    max-height: 500px;
}

@media only screen and (min-width: 1440px) {

    .faq-acc {
width: 630px;
    }

    .faq-acc-el {
width: 630px;
    }

.faq-wrapper{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
}