@import url('./styles.css');

.background {

    text-align: left;
}

.privacy-title {
    margin-top: 40px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #fdebbd;
    margin-top: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;

}

.policy-number {
    padding-left: 20px;
}

.underline {
font-weight: 700;

}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
}



.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1440px) {
.policy-container{
    padding-left: 180px;
    padding-right: 180px;
}
}